<!DOCTYPE html>
<html>
<head>
	<title> WELCOME TO YUMMY RECIPES</title>

		<link rel="stylesheet" type ="text/css" href="css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="registration.css">
		<script src="/js/bootstrap.min.js" type="text/javascript"></script>
		<script src="/js/bootstrap.js" type="text/javascript"></script>

</head>
<body id="body">


	<div class= "container">

		<div class ="jumbotron">

			<p class= "text-info">

				Hello Visitor, To Use This Site You Must Log In


				<button class= "btn"><a href="user_login.html">LOG IN</a></button>
				
			</p>


			<p class="text-info">

				Dont Have An Account?


				<button class="btn"><a href ="registration_form.html">CREATE AN ACCOUNT</a></button>
			</p>


			</div>
		


	</div>



</body>
</html>>