<!DOCTYPE html>
<html>
<head>
	<title> WELCOME TO YUMMY RECIPES</title>

		<link rel="stylesheet" type ="text/css" href= "{{ url_for('static',filename='css/bootstrap.min.css') }}">
		<link rel="stylesheet" type ="text/css" href= "{{ url_for('static',filename='css/bootstrap.css') }}">
		<link rel="stylesheet" type ="text/css" href= "{{ url_for('static',filename='registration.css') }}">
</head>
<body id="body">


	<div class= "container">

		<div class ="jumbotron">

			<p class= "text-info">
				
					<button class= "btn"><a href="{{url_for('login')}}">LOG IN</a></button>
			</p>


			<p class="text-info">

				Dont Have An Account?


				<button class="btn"><a href ="{{url_for('register')}}">CREATE AN ACCOUNT</a></button>
			</p>


			</div>
		


	</div>



</body>
</html>>