{% extends "base.html" %}
{% block content %}
<body class= "container table-c">

<div class="index">

	<h4 class="text-center text-info"> Dear {{ user.name }} Here Are Your Recipes</h4>
	<div class="container">

	<table class="table table-responsive">
		<thead>
			<tr>
				<td><strong>TITLE</strong></td>
				<td><strong>CATEGORY</strong></td>
				<td><strong>RECIPE ID</strong></td>
				<td><strong>USER NAME</strong></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		</thead>
			<tbody>
			{% for dish in recipes %}
			<tr>
				<td>{{ dish.title }}</td>
				<td>{{ dish.category}}</td>
				<td>{{ dish.id }}</td>
				<td>{{ dish.user_id }}</td>
				<td><a href="{{url_for('show_recipe', id= dish.id)}}">Show</a></td>
				<td><a href="{{url_for('update_recipe', recipe_id=dish.id)}}">Edit</a></td>
				<td><a href="{{url_for('delete', recipe_id=dish.id)}}">Delete</a></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
</div>
</body>
</html>
{% endblock %}