<!DOCTYPE html>
<head>
	<title> Users Recipes </title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="registration.css">
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.js"></script>
</head>
<body class= "container table-c">

	<div>
		<nav class="navbar">
			<div class="container">

				<div class="navbar-header">
					<a href="#" class="navbar-brand">YUMMY YUMMY</a>	
				</div>
				<ul class="nav navbar-nav navbar-right" >

					<li class="horizontal"><a href=""></a>HOME</li>
					<li class="horizontal"><a href=""></a>CONTACT US</li>
					<li><a href=""></a>SUBSCRIBE</li>
					<li><a href=""></a>ABOUT</li>
					
				</ul>
				
			</div>

<div class="index">

	<h4 class="text-center text-info"> Dear User.... Here Are Your Recipes</h4>
	<div class="container">

	<table class="table table-responsive">
		<thead>
			<tr>
				<td><strong>TITLE</strong></td>
				<td><strong>CATEGORY</strong></td>
				<td><strong>CREATED AT</strong></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>cooking red cookies</td>
				<td>Cakes</td>
				<td>00.000.00</td>
				<td><a href="">Show</a></td>
				<td><a href="">Edit</a></td>
				<td><a href="">Delete</a></td>
			</tr>

			<tr>
				<td>Making Sugarcane Juice</td>
				<td>Fruit and Juices</td>
				<td>000.00..00.1990</td>
				<td><a href="">Show</a></td>
				<td><a href="">Edit</a></td>
				<td><a href="">Delete</a></td>	
			</tr>
		</tbody>
	</table>
</div>
</div>

</body>
</html>